{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "function",
          "return",
          "include",
          "mixin"
        ]
      }
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "color-opacity"
        ]
      }
    ]
  }
}
