section#about(class="main__section section section--lead")
  div(class="section__container section__container--lead container")
    h1(class="section__title title") Катерина Евтухова
    p(class="section__tagline") Junior фронтенд-разработчик, Ереван
    div(class="section__picture-wrapper")
      picture
        source(type="image/webp", media="(min-width: 1200px)", srcset=`./images/lead-portrait-large@1x.webp 1x,
                  ./images/lead-portrait-large@2x.webp 2x`, width="508", height="501")
        source(type="image/webp", media="(min-width: 760px)", srcset=`./images/lead-portrait-medium@1x.webp 1x,
                  ./images/lead-portrait-medium@2x.webp 2x`, width="380", height="680")
        source(type="image/webp", srcset=`./images/lead-portrait-small@1x.webp 1x,
                  ./images/lead-portrait-small@2x.webp 2x`, width="760", height="380")
        source(type="image/jpg", media="(min-width: 1200px)", srcset=`./images/lead-portrait-large@1x.jpg 1x,
                    ./images/lead-portrait-large@2x.jpg 2x`, width="508", height="501")
        source(type="image/jpg", media="(min-width: 760px)", srcset=`./images/lead-portrait-medium@1x.jpg 1x,
                    ./images/lead-portrait-medium@2x.jpg 2x`, width="380", height="680")
        img(class="section__picture", src="./images/lead-portrait-small@1x.jpg", srcset="./images/lead-portrait-small@2x.jpg 2x", width="760", height="380", alt="Катерина Евтухова")
    p(class="section__text") Будучи визуалом с логическим мышлением, я нашла во фронтенде идеальное место для реализации себя как специалиста. Стремлюсь создавать удобные и доступные интерфейсы, используя современные технологии. С интересом слежу за актуальными тенденциями в сфере веб-разработки.
    ul(class="section__contacts-list")
      li(class="section__contacts-item")
        a(class="section__contacts-link button button--icon-whatsapp", href="https://api.whatsapp.com/send?phone=79601143943")
          span(class="visually-hidden") Написать в WhatsApp
      li(class="section__contacts-item")
        a(class="section__contacts-link button button--icon-telegram", href="https://t.me/urchifox")
          span(class="visually-hidden") Написать в Telegram
      li(class="section__contacts-item")
        a(class="section__contacts-link button button--icon-gmail", href="mailto:uchifox@gmail.com")
          span(class="visually-hidden") Написать на почту
