footer(class="page__footer footer")
  ul(class="footer__contacts-list container")
    each val in contacts
      li(class="footer__contacts-item")
        a(class=`footer__contacts-link button button--icon-${val.name}`, href=val.link)
          span(class="visually-hidden") val.text
