section#projects(class="main__section section container")
  h2(class="section__title title") Проекты
  div(class="section__subsection subsection projects ")
    ul(class="projects__filters-list")
      each filter, index in [{all: "Все проекты"}, {diploma: "Дипломные проекты"}, {trainig: "Тренировки навыков"}, {personal: "Личные проекты"}]
        - const key = Object.keys(filter)[0]
        - const value = filter[key]
        li(class="projects__filters-item")
          label(class="projects__filters-label")
            input(class="visually-hidden", id=key value=key, name="filter", type="radio", checked=index === 0)
            span(class="projects__filters-text")= value
            span(class="projects__filters-count", data-type="all") (?)

    ul(class="projects__list")
