section#work(class="main__section section container")
  h2(class="section__title title") Опыт работы
  ul(class="section__career-list career-list")
    li(class="career-list__career-card career-card")
      div(class="career-card__header")
        h3(class="career-card__title") Front-end разработчик
        p(class="career-card__company-description")
          a(class="career-card__company-name", href="https://websovet.ru/gamedev") Websovet
          span &thinsp;&#8212;&thinsp;студия разработки casual-игр
      p(class="career-card__date") Май 2024&thinsp;&#8211;&thinsp;по настящее время
      div(class="career-card__column-wrapper")
        div(class="career-card__column-item")
          h4(class="career-card__subtitle") Задачи:
          p(class="career-card__text") Разработка игр и общей оболочки, обеспечение кроссбраузерности и кроссплатформенности.
        div(class="career-card__column-item")
          h4(class="career-card__subtitle") Использовала:
          p(class="career-card__text") TypeScript, Phaser, Vite.
      p(class="career-card__subtitle") Достижения:
      ul(class="career-card__description-list career-card__column-wrapper")
        li(class="career-card__description-item career-card__column-item") Самостоятельно разработала две игры (жанры idle и рикошет) и одну игру в жанре merge в паре с другим разработчиком. В настоящее время разрабатываю игру в жанре рулетка.
        li(class="career-card__description-item career-card__column-item") Разработала мету — раздел приложения, в котором игрок тратит заработанные звёзды для продвижения по сюжету.
        li(class="career-card__description-item career-card__column-item") Реализовала систему смены скинов игры для сборки игр с разным визуальным контентом.
        li(class="career-card__description-item career-card__column-item") Создала компонент модального окна с несколькими предустановленными шаблонами.
        li(class="career-card__description-item career-card__column-item") Разработала графический редактор уровней и редактор конфигурации игровых объектов с сохранением данных в JSON-формате.
    li(class="career-list__career-card career-card")
      div(class="career-card__header")
        h3(class="career-card__title") Технический специалист
        p(class="career-card__company-description")
          a(class="career-card__company-name", href="https://www.grafitart.com/") Grafit
          span &thinsp;&#8212;&thinsp;аутсорс арт-студия
      p(class="career-card__date") Январь 2022&thinsp;&#8211;&thinsp;Июнь 2024
      div(class="career-card__column-wrapper")
        div(class="career-card__column-item")
          h4(class="career-card__subtitle") Задачи:
          p(class="career-card__text") Разработка, оптимизация и автоматизация рабочих процессов.
        div(class="career-card__column-item")
          h4(class="career-card__subtitle") Использовала:
          p(class="career-card__text") Google Sheets, AppScript, AppSheet,  Notion, Битрикс24.
      p(class="career-card__subtitle")
        b Достижения:
      ul(class="career-card__description-list career-card__column-wrapper")
        li(class="career-card__description-item career-card__column-item") Внедрила и адаптировала CRM-систему, сопроводила ее документацией для менеджеров.
        li(class="career-card__description-item career-card__column-item") Разработала аналитическую таблицу для оценки успешности продуктов студии.
        li(class="career-card__description-item career-card__column-item") Создала набор аналитических таблиц для анализа окупаемости проектов на основе затрат и выручки.
        li(class="career-card__description-item career-card__column-item") Разработала систему фильтрации и каталогизации продуктов компании.
    li(class="career-list__career-card career-card")
      div(class="career-card__header")
        h3(class="career-card__title") Middle / Lead 2D-художник
        p(class="career-card__company-description")
          a(class="career-card__company-name", href="https://www.grafitart.com/") Grafit
          span &thinsp;&#8212;&thinsp;аутсорс арт-студия
      p(class="career-card__date") Февраль 2019&thinsp;&#8211;&thinsp;Декабрь 2021
      div(class="career-card__column-wrapper")
        div(class="career-card__column-item")
          h4(class="career-card__subtitle") Задачи:
          p(class="career-card__text") Создание арт-контента для видео-игр, на отдельных проектах контроль качества и доведение других работ до финального результата.
      p(class="career-card__subtitle")
        b Достижения:
      ul(class="career-card__description-list career-card__column-wrapper")
        li(class="career-card__description-item career-card__column-item") Написала стайл-гайд для разработки визуального контента мобильной игры.
        li(class="career-card__description-item career-card__column-item") Разработала пайплайн подготовки иллюстраций под анимацию или импорт в движок, провела обучение исполнителей и успешно делегировала дальнейший контроль над работой.
