:root {
  --color-background-basic: hsl(255, 20%, 25%);
  --color-background-secondary: hsl(225, 25%, 45%);
  --color-background-accent: hsl(225, 35%, 65%);

  --color-text-basic: hsl(255, 100%, 98%);
  --color-text-secondary: hsl(225, 33%, 73%);
  --color-text-accent: hsl(275, 33%, 70%);

  --color-interactive-basic: hsl(275, 64%, 71%);
  --color-interactive-secondary: hsl(275, 90%, 81%);
  --color-interactive-accent: hsl(275, 100%, 90%);
  --color-interactive-disabled: hsl(225, 26%, 59%);

  color-scheme: dark;
}
