:root {
  --color-background-basic: hsl(255, 100%, 98%);
  --color-background-secondary: hsl(225, 44%, 82%);
  --color-background-accent: hsl(225, 26%, 59%);

  --color-text-basic: hsl(255, 25%, 40%);
  --color-text-secondary: hsl(225, 33%, 73%);
  --color-text-accent: hsl(275, 40%, 65%);

  --color-interactive-basic: hsl(275, 78%, 65%);
  --color-interactive-secondary: hsl(275, 90%, 75%);
  --color-interactive-accent: hsl(275, 100%, 80%);
  --color-interactive-disabled: hsl(225, 26%, 70%);

  color-scheme: light;
}
