.career-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: $font-size-1;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -$font-size-xxs;
    bottom: -$font-size-xxs;
    left: $font-size-2;
    right: $font-size-2;

    border-radius: $font-size-xs;
    background-color: var(--color-background-secondary);
  }
}
