.footer {
  padding-top: $font-size-5;
  padding-bottom: $font-size-5;

  background-color: var(--color-text-secondary);
}

.footer__contacts-list {
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  flex-wrap: wrap;
  gap: $font-size-1;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.footer__contacts-link {
  --icon-color: var(--color-background-basic);
}
