.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  border: none;
  max-width: 85vw;
  max-height: 85vh;
  overflow: visible;
  background-color: transparent;

  &::backdrop {
    background-color: color-opacity(var(--color-text-secondary), 0.5);
  }
}

.modal__picture {
  margin: auto;

  padding-top: $font-size-1;
  padding-bottom: $font-size-1;
  padding-left: calc($font-size-xxs*2 + clamp(22px, $font-size-4, 40px));
  padding-right: calc($font-size-xxs*2 + clamp(22px, $font-size-4, 40px));

  border-radius: $font-size-1;
  width: 100%;
  height: 100%;
  max-width: 85vw;
  max-height: 85vh;

  display: block;
  background-color: var(--color-background-basic);
}

.modal__button {
  position: absolute;
  z-index: 2;
  top: $font-size-1;
  right: $font-size-xxs;

  padding: 0;
  border: none;
  background-color: transparent;
}
