.page {
  scroll-padding-top: calc($font-size-4 + var(--header-height));
  scroll-behavior: smooth;

  @media #{$on-small} {
    font-size: 13px;
  }

  @media #{$on-medium} {
    font-size: 16px;
  }

  @media #{$on-large} {
    font-size: 18px;
  }
}

.page__body {
  margin: 0;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: $font-family-basic;
  font-weight: $font-weight-medium;
  color: var(--color-text-basic);

  background-color: var(--color-background-basic);
  scrollbar-gutter: stable;

  &:has(.modal[open]) {
    overflow: hidden;
  }

  &:has(.header__menu-toggle:checked) {
    @media #{$on-small} {
      overflow: hidden;
    }
  }
}

.page__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.page__footer {
  margin-top: auto;
}
