.projects {
  display: grid;
  gap: $font-size-3;

  @media #{$on-large} {
    grid-template-columns: 33.3% 1fr;
    align-items: start;
  }
}

.projects__filters-list {
  margin-top: 0;
  margin-bottom: 0;

  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
  gap: $font-size-xs $font-size-3;

  list-style: none;

  @media #{$on-small} {
    flex-direction: column;
  }

  @media #{$on-medium} {
    align-items: center;
    justify-content: center;
  }

  @media #{$on-large} {
    position: sticky;
    top: calc($font-size-2 + var(--header-height));
    padding: $font-size-2;
    flex-direction: column;

    border: 2px solid var(--color-background-secondary);
    border-radius: $font-size-3;
  }
}

.projects__filters-label {
  border: none;
  background-color: transparent;

  font-family: $font-family-basic;
  font-size: $font-size-2;
  text-align: left;
  word-break: break-word;

  cursor: pointer;

  &:hover {
    color: var(--color-interactive-secondary);
  }

  &:active {
    color: var(--color-interactive-accent);
  }

  &:disabled {
    color: var(--color-interactive-disabled);
    pointer-events: none;
  }

  &:has(:checked) {
    color: var(--color-interactive-basic);
  }

  &:has(:focus-visible) {
    outline: 3px solid var(--color-interactive-secondary);
    outline-offset: 0.25rem;
    border-radius: 0.15rem;
  }
}

.projects__filters-count {
  color: var(--color-text-secondary);

  :where(:disabled, :active, :hover) > & {
    color: inherit;
  }

  :checked ~ & {
    color: var(--color-interactive-basic);
  }
}

.projects__list {
  margin-top: 0;
  margin-bottom: 0;

  padding-left: 0;

  display: flex;
  flex-direction: column;
  gap: $font-size-2;

  list-style: none;
}
