.section {
  &--lead {
    color: var(--color-background-basic);
    background-color: var(--color-background-accent);
  }
}

.section__container {
  &--lead {
    padding-top: $font-size-2;
    padding-bottom: $font-size-2;

    display: grid;
    gap: $font-size-xs $font-size-2;


    @media #{$on-small} {
      padding-left: $font-size-2;
      padding-right: $font-size-2;

      grid-template-columns: 1fr;
      grid-template-rows: 1fr repeat(4, auto);
      justify-items: center;

      text-align: center;
    }

    @media #{$on-medium} {
      padding-right: $font-size-2;

      grid-template-columns: 33% 1fr;
      grid-template-rows: 1fr repeat(3, auto);
    }

    @media #{$on-large} {
      padding-left: $font-size-2;
      padding-right: $font-size-2;

      grid-template-columns: 33% 1fr auto;
      grid-template-rows: 1fr repeat(2, auto);
    }
  }
}

.section__wrapper {
  &--additions {
    display: grid;
    gap: $font-size-1;

    @media #{$on-large} {
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
    }
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: $font-size-4;

  .section--lead & {
    margin-bottom: 0;
    color: inherit;
    text-align: inherit;
  }
}

.section__tagline {
  margin-top: 0;
  margin-bottom: 0;

  font-family: $font-family-accent;
  font-size: $font-size-3;
  font-weight: $font-weight-bold;
  word-break: break-word;
}

.section__text {
  margin-top: 0;
  margin-bottom: 0;

  word-break: break-word;
}

.section__picture-wrapper {
  position: relative;

  background-color: var(--color-background-secondary);

  @media #{$on-small} {
    margin-left: calc(0px - $font-size-2);
    margin-right: calc(0px - $font-size-2);

    grid-column: 1;
    grid-row: 3;
  }

  @media #{$on-medium-large} {
    margin-top: calc(0px - $font-size-2);
    margin-bottom: calc(0px - $font-size-2);

    grid-column: 1;
    grid-row: 1 / -1;
  }
}

.section__picture {
  width: 100%;
  height: 100%;

  display: block;
  object-fit: cover;
  object-position: center;

  @media #{$on-medium} {
    object-position: center top;
  }

  @media #{$on-medium-large} {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.section__contacts-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $font-size-3;
  list-style: none;

  @media #{$on-medium} {
    justify-self: end;
  }

  @media #{$on-large} {
    flex-direction: column;

    grid-column: 3;
    grid-row: 1 / -1;
    align-self: end;
  }
}

.section__contacts-link {
  --icon-color: var(--color-background-basic);
}

.section__career-list {
  margin-top: calc($font-size-4  * 2);
}
